<!-- $Id: rename_list_request.tt2 10007 2013-12-19 14:11:46Z sikeda $ -->

<h3>[%|loc%]Renaming the list[%END%] <a class="input" href="[% path_cgi %]/nomenu/help/admin#renamelist" title="[%|loc%]Open in a new window[%END%]" onclick="window.open('','wws_help','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=400,height=200')" target="wws_help">[%|loc%]Help[%END%]</a></h3>
<br />
	<form action="[% path_cgi %]" method="post">
	<fieldset>
	  <input type="hidden" name="list" value="[% list %]" />
	  <label for="new_listname">[%|loc%]New list name:[%END%]</label> <input id="new_listname" name="new_listname" value="" /> @
	[% IF robots %]
           <select name="new_robot">
           [% FOREACH vr = robots %]
             <option value="[% vr.key %]" [% vr.value %]>[% vr.key %]</option>
           [% END %]
	   </select>
	[% ELSE %]
	   <input name="new_robot" type="hidden" value="[% robot %]" />
	   [% robot %]
        [% END %]
<br />
	  <input class="MainMenuLinks" type="submit" name="action_rename_list" value="[%|loc%]Rename this list[%END%]" onclick="return request_confirm('[% FILTER escape_quote %][%|loc%]Do you really want to rename this list?[%END%][%END%]')" />
	</fieldset>
	</form>

<!-- end rename_list_request.tt2 -->
	
	

